<div class="wrapper">
  <div class="prose mx-auto my-20">
    <h1 class="text-center font-black text-2xl lg:text-4xl uppercase">
      {{ policy.title }}
    </h1>
    <div>
      {{ policy.body }}
    </div>
  </div>
</div>
  