<div class="fixed bottom-4 right-[84px] z-[9999999999]">
  <a
    href="https://api.whatsapp.com/send/?phone=56986622371&text=Hola%2C+deseo+cotizar+lo+siguiente&type=phone_number&app_absent=0"
    target="_blank"
    class="">
    <img
      src="{{ 'whatsapp.png' | asset_url }}"
      alt="whatsapp"
      loading="eager"
      width="65"
      height="65" />
  </a>
</div>