/* Globals */
.wrapper{
  @apply max-w-[1380px] mx-auto px-4
}

summary::-webkit-details-marker {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.detail-submenu[open] summary svg{
  @apply rotate-180
}

/* Header */
.header-transparent{
  @apply absolute top-[26.5px] lg:top-[38px] left-0 w-full z-[999] bg-transparent transition-all duration-300 ease-in-out;
}

.header-fixed{
  @apply fixed top-0 left-0 w-full z-[999] bg-[#13203A] transition-all duration-300 ease-in-out;
}

.header{
  @apply relative w-full z-[999] bg-[#13203A] transition-all duration-300 ease-in-out;
}

.title-rich strong{
  @apply text-[#FF4100];
}

.bar::after{
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-top: 20px solid #FF4100;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}


.marcas-carousel .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  bottom: 0;
}

.marcas-carousel .swiper-pagination-bullet-active{
  background-color: #13203A;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width:20px;
  height: 20px;
  border: 1px solid #13203A;
  border-radius: 4px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}


input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #FF4100;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}


.filter-group[open] summary svg {
  @apply rotate-180
}