<div class="bg-[#FF4100] text-white py-2">
  <div class="wrapper">
    <div class="flex justify-center lg:justify-between items-center">
      <a href="{{ section.settings.link }}" class="hidden lg:block uppercase text-center font-poppins font-bold text-[10px] lg:text-sm">
        {{ section.settings.text | escape }}
      </a>
      <div class="flex justify-end gap-4">
        {% if section.settings.phone_link != blank %}
        <a href="{{ section.settings.phone_link }}" class="uppercase text-center font-poppins font-bold text-[10px] lg:text-sm">
          {{ section.settings.phone_text }}
        </a>
        {% endif %}
        <div class="hidden lg:block">
          {% render 'social-list', bg_color: '#FF4100' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.announcement-bar.name",
    "settings": [
      {
        "type": "url",
        "id": "link",
        "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
      }, {
        "type": "text",
        "id": "text",
        "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label",
        "default": "Insertar un texto para la barra de inicio"
      }, {
        "type": "text",
        "id": "phone_text",
        "label": "Phone text",
        "default": "Llámanos al +569 5079 9740"
      }, {
        "type": "url",
        "id": "phone_link",
        "label": "Phone Link"
      }
    ]
  }
{% endschema %}