<div class="wrapper py-4 my-8">
  <h2 class="uppercase title-rich font-black leading-none mt-4 mb-2 lg:mb-4 lg:text-[30px] text-[25px] text-center">
    <strong>Últimos Repuestos</strong>
    y Accesorios
  </h2>
  <p class="text-sm lg:text-xl text-center leading-[1.1]">
    {{ section.settings.bajada | escape }}
  </p>
  <featured-carousel>
    <div class="featured-carousel featured-carousel-{{ section.id }} overflow-hidden relative py-8">
      <ul class="swiper-wrapper">
        {% for block in section.blocks %}
          {% render 'product-card', product: all_products[block.settings.product], class: 'swiper-slide' %}
        {% endfor %}
      </ul>
    </div>
  </featured-carousel>
  <a href="{{ section.settings.link }}" class="btn-rounded btn-primary mx-auto">
    Ver Más Productos
  </a>
</div>


{% schema %}
  {
    "name": "Featured-Products",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "bajada",
        "default": "Revisa nuestra tienda online con los repuestos en stock para tu compra inmediata.",
        "label": "Ingresa el texto para la bajada."
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link para el boton"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Elige un producto"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured-Products",
        "category": "slide"
      }
    ]
  }
{% endschema %}