<div class="wrapper py-8">
  <carousel-icons>
    <div class="carousel-icons carousel-icons-{{ section.id }} overflow-hidden relative">
      <ul class="swiper-wrapper">
        {% for block in section.blocks %}
          <li class="swiper-slide flex gap-x-2 items-center justify-center">
            <img
              src="{{ block.settings.image | img_url: '80x' }}"
              alt="{{ block.settings.title | escape }}"
              width="80"
              height="{{ 80 | divided_by: block.settings.image.aspect_ratio | ceil }}"
              loading="lazy">
            <span class="text-base lg:text-[18px] font-bold uppercase leading-[1.1]">{{ block.settings.title | escape }}</span>
          </li>
        {% endfor %}
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </carousel-icons>
</div>
{% schema %}
  {
    "name": "Iconos",
    "tag": "section",
    "blocks": [
      {
        "name": "Slideshow Iconos",
        "type": "Slideshow",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Inserta la imagen para el ícono."
          }, {
            "type": "text",
            "id": "title",
            "label": "Inserta el titulo para el ícono."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Iconos"
      }
    ]
  }
{% endschema %}